<template>
  <div class="comment">
    <component :is="detailsComponent" :comment="comment"></component>
    <Comment v-for="reply in comment.replies" :key="reply.id" :comment="reply" :detailsComponent="detailsComponent"></Comment>
  </div>
</template>

<script>
export default {
  name: 'Comment',
  props: {
    comment: Object,
    detailsComponent: Object
  }
}
</script>
