<template>
  <div class="comments">
    <div class="comments__toggle">
      <slot name="toggle" :toggleComments="toggleComments"></slot>
    </div>
    <div class="comments__loading" v-if="loading">
      <slot name="loading"></slot>
    </div>
    <div class="comments__list" v-if="!loading">
      <slot :comments="comments"></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    useComments: Function
  },
  setup (props) {
    const {
      comments,
      toggleComments,
      loading
    } = props.useComments()

    return {
      comments,
      toggleComments,
      loading
    }
  }
}
</script>
