<template>
  <div class="comment__credit credit">
    <div class="credit__created">
      @ {{ formatDate(comment.created_utc) }}
    </div>
    <div class="credit__author">
      by {{ comment.author }}
    </div>
  </div>
  <div class="comment__body">
    {{ comment.body }}
  </div>
</template>

<script>
import { formatDate } from '@/utils/utils'
export default {
  props: {
    comment: Object
  },
  setup: () => ({
    formatDate
  })
}
</script>
