<template>
  <div class="reddit">
    <slot
      :useThread="useThread"
      :useSearch="useSearch"
      :useComments="useComments"
    ></slot>
  </div>
</template>

<script>
import { useReddit } from '@/reddit/useReddit'
import redditService from '@/reddit/reddit.service'

export default {
  props: {
    useReddit: {
      type: Function,
      default: useReddit
    },
    redditService: {
      type: Object,
      default: redditService
    }
  },
  async setup (props) {
    const {
      useThread,
      useSearch,
      useComments
    } = await props.useReddit(props.redditService)
    return {
      useThread,
      useSearch,
      useComments
    }
  }
}
</script>
