<template>
  <div class="posts">
    <article
      class="posts__post post"
      :class="isPostSingle(post.id) && 'post--single'"
      v-for="post in orphanFixedPostsToDisplay"
      :key="post.id"
      @click="goToSinglePost(post.id)"
      :id="'post-id-' + post.id"
    >
      <slot :post="post"></slot>
    </article>
    <div class="posts__empty" v-if="!loading && !orphanFixedPostsToDisplay.length">
      <slot name="empty"></slot>
    </div>
    <div class="posts__loading loading" v-if="loading">
      <slot name="loading"></slot>
    </div>
  </div>
</template>
<script>
import { watch, computed } from 'vue'
import { useInfiniteScroll } from '@/utils/useInfiniteScroll'
import { useLoading } from '@/utils/useLoading'
import { useSinglePost } from '@/posts/useSinglePost'

export default {
  props: {
    thread: {
      type: String,
      required: true
    },
    useThread: {
      type: Function,
      required: true
    },
    useSearch: {
      type: Function,
      required: true
    },
    searchPhraseApplied: String,
    useInfiniteScroll: {
      type: Function,
      default: useInfiniteScroll
    },
    useLoading: {
      type: Function,
      default: useLoading
    }
  },
  setup (props) {
    const { infiniteScroll, makeScrollHandler } = props.useInfiniteScroll()
    const { loading, setLoading } = props.useLoading()
    const { load, threadData } = props.useThread(setLoading, makeScrollHandler)
    const { search, searchResults } = props.useSearch(setLoading, makeScrollHandler)
    const {
      isPostSingle,
      isPostSingleSet,
      goToList,
      goToSinglePost,
      bubblePostOnceSelected
    } = useSinglePost()

    const toDisplay = computed(() => props.searchPhraseApplied
      ? searchResults.children
      : threadData.children
    )

    const orphanFixedPostsToDisplay = computed(() => isPostSingleSet()
      ? toDisplay.value.reduce(bubblePostOnceSelected, [])
      : toDisplay.value
    )

    watch([
      () => props.thread,
      () => props.searchPhraseApplied
    ], ([thread, searchPhraseApplied]) => {
      goToList()
      if (searchPhraseApplied) {
        return search(thread, searchPhraseApplied).then(infiniteScroll)
      } else {
        return load(thread).then(infiniteScroll)
      }
    })

    load(props.thread).then(infiniteScroll)
    return {
      loading,
      orphanFixedPostsToDisplay,
      isPostSingle,
      goToSinglePost
    }
  }
}
</script>
